body{
    text-align: center;
    background-color: darkcyan;
}
h1{
    font-size: 90px;
   color:burlywood;
    /* font-family: 'Konkhmer Sleokchher', cursive;*/
} 

button{
    color:  red;
    font-style: oblique;
    font-size: 50px;
    width: 100px;
    height: 100px;
    margin: 10px;
    border-radius: 5px;
    border: 3px solid brown;
}
.w{
 background-image: url("tom1.png");
}
.a{
background-image:url("tom2.png");
}
.s{
background-image:url("tom3.png");
}
.d{
    background-image:url("tom4.png");
}
.j{
background-image:url("snare.png");
}
.k{
background-image:url("crash.png");
}
.l{
background-image:url("kick.png");

}
footer{
    margin-top: 200px;
    color: bisque;
}
